# Secrets
.env
*.secret
.webhook_secret
.cfrc

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Database
*.db
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
.vscode/
.idea/
